body {
  background-position-x: -25%;
  background-position-y: -150%;
  background-image: url('../images/maybe.gif');
  background-repeat: no-repeat;
}

.jumbotron {
  background: none;
  margin-bottom: 0%;
  padding-bottom: 0;
}

.rupee {
  width: 100px;
  height: 100px;
}

#instructionTitle {
  /* padding: 20px; */
  margin: 50px;
}

#instructions {
  font-size: 28px;
  font-weight: bold;
  color: #3a7500;
  border: solid;
  border-color: rgb(255, 207, 74);
  margin: 10px;
  padding: 10px;
  text-align: center;
}