body {
  background-position-x: -25%;
  background-position-y: -150%;
  background-image: url('../images/maybe.gif');
}

.jumbotron {
  background: none;
  margin-bottom: 0%;
  padding-bottom: 0;
}

.rupee {
  margin: 6px;
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 50%;
  background-color: seagreen;
  border: 3px solid seagreen;
  background-size: cover;
}

.rupee:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.15s;
}

.rupee:active {
  box-shadow: 0 3px 0 gray;
  bottom: -4px;
  transform: scale(1);

}

#instructionTitle {
  /* padding: 20px; */
  margin: 50px;
}

#instructions {
  font-size: 28px;
  font-weight: bold;
  color: #3a7500;
  border: solid;
  border-color: rgb(255, 207, 74);
  margin: 10px;
  padding: 10px;
  text-align: center;
}